In [4]:
#importação das bibliotecas
import pandas as pd

In [5]:
#função para limpar os dados de cada arquivo csv anual e salvar como novo arquivo

def limpar_dados_incendio(nome_arquivo, novo_arquivo):
    df = pd.read_csv(nome_arquivo)
    df = df.drop(columns=["id_bdq", "foco_id", "lat", "lon"])
    df[["data", "hora"]] = df["data_pas"].str.split(" ", expand=True)
    df = df.drop(columns=["data_pas", "hora"])
    df[["ano", "mês", "dia"]] = df["data"].str.split("-", expand=True)
    df = df.drop(columns=["data", "pais"])
    df = df.drop_duplicates()

    df.to_csv(novo_arquivo, index=False)

    return df

df = limpar_dados_incendio("focos_br_ref_2014.csv", "2014_limpo.csv")
display(df)

              estado                 municipio     bioma   ano mês dia
0            SERGIPE            TOBIAS BARRETO  Caatinga  2014  02  16
1            SERGIPE                   LAGARTO  Caatinga  2014  02  16
2            RORAIMA                 CARACARAÍ  Amazônia  2014  02  16
3           AMAZONAS  SÃO GABRIEL DA CACHOEIRA  Amazônia  2014  02  16
6            RORAIMA                     CANTÁ  Amazônia  2014  02  16
...              ...                       ...       ...   ...  ..  ..
175865          PARÁ                    BUJARU  Amazônia  2014  10  05
175868  MINAS GERAIS           CARMO DO CAJURU   Cerrado  2014  10  06
175872     SÃO PAULO                  IBITINGA   Cerrado  2014  10  06
175873     SÃO PAULO                      AVAÍ   Cerrado  2014  10  06
175877     SÃO PAULO                   LIMEIRA   Cerrado  2014  10  06

[52292 rows x 6 columns]

In [6]:
#função para limpar os dados de cada arquivo csv mensal e salvar como novo arquivo

def limpar_dados_2024(nome_arquivo, novo_arquivo):
    dados = pd.read_csv(nome_arquivo)
    dados = dados.drop(columns=["id", "satelite", "municipio_id", "estado_id", 
                                "lat", "lon", "pais_id", "pais", "numero_dias_sem_chuva", 
                                "precipitacao", "risco_fogo", "frp"])
    dados[["data", "gmt"]] = dados["data_hora_gmt"].str.split(" ", expand=True)
    dados[["ano","mês","dia"]] = dados["data"].str.split("-", expand=True)
    dados = dados.drop(columns=["data_hora_gmt","data","gmt"])
    dados[['municipio', 'estado']] = dados[['estado', 'municipio']]
    dados = dados.rename({'estado':'municipio', 'municipio':'estado'}, axis=1)
    dados = dados.drop_duplicates()
    
    dados.to_csv(novo_arquivo, index=False)

    return dados

dados = limpar_dados_2024("focos_mensal_br_202410.csv", "202410_limpo.csv")
display(dados)

                     estado            municipio           bioma   ano mês dia
0            RIO DE JANEIRO       RIO DE JANEIRO  Mata Atlântica  2024  10  01
1                 SÃO PAULO  MONTE ALEGRE DO SUL  Mata Atlântica  2024  10  01
3              MINAS GERAIS                BETIM  Mata Atlântica  2024  10  01
4              MINAS GERAIS               ITAÚNA  Mata Atlântica  2024  10  01
6              MINAS GERAIS       MORRO DO PILAR         Cerrado  2024  10  01
...                     ...                  ...             ...   ...  ..  ..
771993              ALAGOAS            RIO LARGO  Mata Atlântica  2024  10  23
772034  RIO GRANDE DO NORTE                TAIPU        Caatinga  2024  10  23
772037  RIO GRANDE DO NORTE               PUREZA        Caatinga  2024  10  23
772084           PERNAMBUCO              ALIANÇA        Caatinga  2024  10  23
772085           PERNAMBUCO             TIMBAÚBA        Caatinga  2024  10  23

[31393 rows x 6 columns]